body{
    display : flex;
    align-items : center;
    height : 100vh;
    background-color : #F3EEEA;
}

.about-container *{
  color : #776B5D;
  font-family: 'Zilla Slab', serif;
  font-size : 1.25rem;
}


.about-container{
  max-width : 800px;
}

.main{
  background-color : #EBE3D5;
}


.custom-hr{
    width: 100%;
    margin: 0 auto;
    border: 0;
    height: 3px;
    background-color: black; 
}
.main > h1{
    font-size : 1.75rem;
}