body{
    background-color: black;
  }
  img{
    width : 100%;
    border : 5px solid white;
  }

  .poster{
    width : 50%;
    margin-left : 25%;
    padding-top : 5%;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color : white;
  }

  h1{
    text-transform: capitalize;
  }